
.btn{
    border-radius: 40px;
    text-align: center;
    border: none;
    cursor: pointer;
}

.btn-primary{
    background-color: #ffffff;
    color: #1b1b1b;
    border: 1px solid #ffffff;
    transition: ease-in-out 0.5s;
}

.btn-secondary{
    background-color: transparent;
    color: #ffffff;
    border: 1px solid #ffffff;
    transition: ease-in-out 0.5s; 
}

.btn-medium {
    padding: 8px 20px;
    font-size: 20px;
}

.btn-large {
    padding: 12px 24px;
    font-size: 25px;
}

.btn-primary:hover{
    background-color: #1b1b1b;
    color:#ffffff;
}
.btn-secondary:hover{
    background-color: #ffffff;
    color: #1b1b1b;
}