.hero-container > video {
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -1;
}

.hero-container > h1{
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
}

.hero-container{
    display: flex;
    justify-content: center;
}
